<h1>Edit Note</h1>

<%= form_for @note do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :body %>
  <%= f.text_area :body %>
  <button class = "button"><%=f.submit%></button>
<% end %>

<h3>Let's go back</h3>
<%= link_to "Back", notes_path %>