<h1>Post-it Notes</h1>
<hr />

<div class = "container">
<%@notes.each do |note|%>
<div class = "notes">
<h2> <%=note.title%> </h2>

<%= link_to "View Postit", note_path(note.id)%>
<%= link_to "Edit", edit_note_path(note.id)%>
<%= link_to "Delete", note_path(note), method: :delete%>

</div>
<%end%>
</div>
<button class = "button"><%= link_to "New Note", new_note_path %></button>
